@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Righteous&family=Sarala&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-size: cover;
    background-image: url(Imagens/Backgroundarara.jpg);
    background-attachment: fixed;
}


/*CABEÇA DO SITE*/
.cabeca {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
}

.setinha{
    color: black;
    font-size: 44px;
    transition: 0.5s;
    text-decoration: none;
}

.setinha:hover{
    color: #4a9b27;
}

.cabeca-logo {
    height: 150px;
}

.cabeca-menu {
    display: flex;
    gap: 32px;
    padding: 25px;
}

.cabeca-menu-index {
    font-family: 'Sarala', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 20px;
}

.cabeca-menu a{
    transition: 0.5s;
}

/*************CABEÇA DO SITE*****************/

/*CORPO DO SITE*/
.corpo{
    text-align: center;
    color: #4a9b27;
    margin-top: 20px;
    font-size: 20px;
}

.corpo h1{
    color: black;
    font-family: 'Righteous';
}

.animal{
    border: 15px solid #4a9b27;
    border-radius: 25px;
    border-style: groove;
    background-color: white;
    margin: 25px;
}

.corpo h3{
    width: 50%;
    margin: 20px auto;
    font-family: 'Sarala', sans-serif;
}

.corpo img{
    margin-bottom: 20px;
    margin-top: 20px;
    width: 50%;
}
/***********CORPO DO SITE************/

/*RODAPÉ*/
.rodape {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #4a9b27;
    background: linear-gradient( rgba(74,155,39,0.6348914565826331), rgba(74,155,39,0.7133228291316527)),url(Imagens/Rodapéfavela.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 120px;
    background-position: center;
    margin-top: 250px;
    border-top: 0.4px solid white;
    border-bottom: 0.4px solid white;
}

.rodape-texto {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: white;
    align-items: center;
}

.rodape img{
    width: 200px;
}

.rodape-sociais{
    display: block;
    margin-top: 75px;
    text-align: center;
}

.rodape-sociais img{
    margin-top: 25px;
    width: 50px;
    transition: 0.5s;
}

.rodape-sociais img:hover{
    background-color: white;
    border-radius: 50px;
}
/*************RODAPÉ****************/

@media screen and (max-width:1015px){
    .rodape{
        display: flex;
        flex-direction: column;
    }

    .rodape img{
        margin-top: 90px;
    }

    .rodape h5{
        text-align: center;
    }

    .corpo h3{
        width: 100%;
    }

    .corpo img{
        width: 100%;
    }
}